# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# -----------------------------------------------------------------------------
# Database (PostgreSQL - Supabase)
# -----------------------------------------------------------------------------
DATABASE_URL=

# -----------------------------------------------------------------------------
# Firebase config
# -----------------------------------------------------------------------------
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCP4VGG9_nftpDfmLboAaW2z5XfGpUOphI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ianua-dev.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ianua-dev
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ianua-dev.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=440277776633
NEXT_PUBLIC_FIREBASE_APP_ID=1:440277776633:web:8718f7c118de4151804a28
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-GPH2W2JNK0

NEXT_PUBLIC_CAPTCHA_SITE_KEY=6LfXDiomAAAAAPRcDE0v_i4cyzoTwuhm_ET7pR3e

# -----------------------------------------------------------------------------
# Email
# -----------------------------------------------------------------------------
SENDGRID_API_KEY=
MAILERSEND_API_KEY=
NO_REPLY_EMAIL=
