{
  "extends": ["next/core-web-vitals", "plugin:tailwindcss/recommended"],
  "plugins": ["import", "tailwindcss"],
  "rules": {
    "tailwindcss/no-custom-classname": "off",
    "tailwindcss/classnames-order": "error",
    "import/order": [
      "error",
      {
        "pathGroups": [
          {
            "pattern": "react",
            "group": "builtin",
            "position": "before"
          }
        ],
        "groups": [["builtin", "external"], "internal", ["parent", "sibling", "index", "object", "type"]],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always",
        "pathGroupsExcludedImportTypes": ["react"]
      }
    ]
  }
}
